version: "3"

networks:
  external_network:
  internal_network:
    name: this_internal_network
    internal: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: 172.18.0.0/24

services:
  traefik:
    image: traefik:v2.6
    container_name: traefik
    restart: always
    networks:
      internal_network:
        ipv4_address: 172.18.0.10
      external_network:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
    command:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker"
      - "--providers.docker.exposedByDefault=false"
      - "--log=true"
      - "--log.level=INFO"
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`traefik.this`)
      - traefik.http.routers.api.service=api@internal

  gitea:
    image: gitea/gitea
    container_name: gitea
    restart: always
    environment:
      USER_UID: 1000
      USER_GID: 1000
      GITEA__database__DB_TYPE: postgres
      GITEA__database__HOST: gitea-postgres:5432
      GITEA__database__NAME: gitea
      GITEA__database__USER: gitea
      GITEA__database__PASSWD: gitea
      GITEA__webhook__ALLOWED_HOST_LIST: "*"
    networks:
      - internal_network
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      traefik:
        condition: service_started
      gitea-postgres:
        condition: service_started
    labels:
      - traefik.enable=true
      - traefik.http.routers.gitea-router.rule=Host(`gitea.this`)
      - traefik.http.routers.gitea-router.service=gitea-service
      - traefik.http.services.gitea-service.loadbalancer.server.port=3000

  gitea-postgres:
    image: postgres
    container_name: gitea-postgres
    restart: always
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
      - POSTGRES_DB=gitea
    networks:
      - internal_network
    volumes:
      - ./gitea_postgres:/var/lib/postgresql/data

  woodpecker-server:
    image: woodpeckerci/woodpecker-server
    container_name: woodpecker-server
    restart: always
    environment:
      - WOODPECKER_OPEN=true
      - WOODPECKER_HOST=http://woodpecker.this
      - WOODPECKER_GITEA=true
      - WOODPECKER_GITEA_URL=http://gitea.this
      - WOODPECKER_GITEA_CLIENT=e0836a7e-98a1-41ba-a01a-d39c6c703aeb
      - WOODPECKER_GITEA_SECRET=mKPctdQ3M9SjdcNOmi5nNLvBXVBVktWgDHeoX5hPTPor
      - WOODPECKER_AGENT_SECRET=851dcedfc9fe1889b1015a4a7c745b85462bb58ed094a2962f7590884334299e
      - WOODPECKER_NETWORK=this_internal_network
    networks:
      - internal_network
    volumes:
      - ./woodpecker_server:/var/lib/woodpecker
    depends_on:
      woodpecker-agent:
        condition: service_started
    labels:
      - traefik.enable=true
      - traefik.http.routers.woodpecker-router.rule=Host(`woodpecker.this`)
      - traefik.http.routers.woodpecker-router.service=woodpecker-service
      - traefik.http.services.woodpecker-service.loadbalancer.server.port=8000

  woodpecker-agent:
    image: woodpeckerci/woodpecker-agent
    container_name: woodpecker-agent
    restart: always
    environment:
      - WOODPECKER_AGENT_SECRET=851dcedfc9fe1889b1015a4a7c745b85462bb58ed094a2962f7590884334299e
      - WOODPECKER_SERVER=woodpecker-server:9000
    networks:
      - internal_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
