version: "3"

networks:
  external_network:
  internal_network:
    name: this_internal_network
    internal: true
    enable_ipv6: false
    ipam:
      config:
        - subnet: 172.18.0.0/24

services:
  traefik:
    image: traefik:v2.6
    container_name: traefik
    restart: always
    networks:
      internal_network:
        ipv4_address: 172.18.0.10
      external_network:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "80:80"
    command:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker"
      - "--providers.docker.exposedByDefault=false"
      - "--log=true"
      - "--log.level=INFO"
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`traefik.this`)
      - traefik.http.routers.api.service=api@internal

  gitea:
    image: gitea/gitea
    container_name: gitea
    restart: always
    environment:
      USER_UID: 1000
      USER_GID: 1000
      GITEA__database__DB_TYPE: postgres
      GITEA__database__HOST: gitea-postgres:5432
      GITEA__database__NAME: gitea
      GITEA__database__USER: gitea
      GITEA__database__PASSWD: gitea
      GITEA__webhook__ALLOWED_HOST_LIST: "*"
    networks:
      internal_network:
        ipv4_address: 172.18.0.11
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3022:22"
    depends_on:
      traefik:
        condition: service_started
      gitea-postgres:
        condition: service_started
    labels:
      - traefik.enable=true
      - traefik.http.routers.gitea-router.rule=Host(`gitea.this`)
      - traefik.http.routers.gitea-router.service=gitea-service
      - traefik.http.services.gitea-service.loadbalancer.server.port=3000

  gitea-postgres:
    image: postgres
    container_name: gitea-postgres
    restart: always
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
      - POSTGRES_DB=gitea
    networks:
      - internal_network
    volumes:
      - ./gitea_postgres:/var/lib/postgresql/data

  woodpecker-server:
    image: woodpeckerci/woodpecker-server
    container_name: woodpecker-server
    restart: always
    environment:
      - WOODPECKER_OPEN=true
      - WOODPECKER_HOST=http://woodpecker.this
      - WOODPECKER_GITEA=true
      - WOODPECKER_GITEA_URL=http://gitea.this
      - WOODPECKER_GITEA_CLIENT=e0836a7e-98a1-41ba-a01a-d39c6c703aeb
      - WOODPECKER_GITEA_SECRET=mKPctdQ3M9SjdcNOmi5nNLvBXVBVktWgDHeoX5hPTPor
      - WOODPECKER_AGENT_SECRET=851dcedfc9fe1889b1015a4a7c745b85462bb58ed094a2962f7590884334299e
      - WOODPECKER_NETWORK=this_internal_network
    networks:
      - internal_network
    volumes:
      - ./woodpecker_server:/var/lib/woodpecker
    depends_on:
      woodpecker-agent:
        condition: service_started
    labels:
      - traefik.enable=true
      - traefik.http.routers.woodpecker-router.rule=Host(`woodpecker.this`)
      - traefik.http.routers.woodpecker-router.service=woodpecker-service
      - traefik.http.services.woodpecker-service.loadbalancer.server.port=8000

  woodpecker-agent:
    image: woodpeckerci/woodpecker-agent
    container_name: woodpecker-agent
    restart: always
    environment:
      - WOODPECKER_AGENT_SECRET=851dcedfc9fe1889b1015a4a7c745b85462bb58ed094a2962f7590884334299e
      - WOODPECKER_SERVER=woodpecker-server:9000
    networks:
      - internal_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # concourse_postgres:
  #   image: postgres
  #   container_name: concourse-postgres
  #   restart: always
  #   environment:
  #     POSTGRES_DB: concourse
  #     POSTGRES_PASSWORD: concourse
  #     POSTGRES_USER: concourse
  #   networks:
  #     - gitea
  #   volumes:
  #     - ./concourse_postgres:/var/lib/postgresql/data

  # concourse:
  #   image: concourse/concourse
  #   container_name: concourse
  #   restart: always
  #   privileged: true
  #   command: quickstart
  #   environment:
  #     CONCOURSE_POSTGRES_HOST: concourse_postgres
  #     CONCOURSE_POSTGRES_USER: concourse
  #     CONCOURSE_POSTGRES_PASSWORD: concourse
  #     CONCOURSE_POSTGRES_DATABASE: concourse
  #     CONCOURSE_EXTERNAL_URL: http://concourse.this
  #     CONCOURSE_ADD_LOCAL_USER: ogromny:admin
  #     CONCOURSE_MAIN_TEAM_LOCAL_USER: ogromny
  #     # instead of relying on the default "detect"
  #     CONCOURSE_WORKER_BAGGAGECLAIM_DRIVER: overlay
  #     CONCOURSE_CLIENT_SECRET: Y29uY291cnNlLXdlYgo=
  #     CONCOURSE_TSA_CLIENT_SECRET: Y29uY291cnNlLXdvcmtlcgo=
  #     CONCOURSE_X_FRAME_OPTIONS: allow
  #     CONCOURSE_CONTENT_SECURITY_POLICY: "*"
  #     CONCOURSE_CLUSTER_NAME: tutorial
  #     CONCOURSE_WORKER_CONTAINERD_DNS_SERVER: "127.0.0.1"
  #     CONCOURSE_WORKER_RUNTIME: "containerd"
  #   networks:
  #     - gitea
  #   ports:
  #     - "8090:8080"
  #   depends_on:
  #     - concourse_postgres
  #   labels:
  #     - traefik.http.routers.concourse-router.rule=Host(`concourse.this`)
  #     - traefik.http.routers.concourse-router.service=concourse-service
  #     - traefik.http.services.concourse-service.loadbalancer.server.port=8080

  # minio:
  #   image: quay.io/minio/minio
  #   container_name: minio
  #   restart: always
  #   environment:
  #     - MINIO_ROOT_USER=Ogromny
  #     - MINIO_ROOT_PASSWORD=admin123
  #   networks:
  #     - gitea
  #   volumes:
  #     - ./minio:/data
  #   ports:
  #     - "9000:9000"
  #     - "9001:9001"
  #   command: minio server /data --console-address ":9001"
  #   labels:
  #     - traefik.http.routers.minio-router.rule=Host(`minio.this`)
  #     - traefik.http.routers.minio-router.service=minio-service
  #     - traefik.http.services.minio-service.loadbalancer.server.port=9001
  # etcd:
  #   image: quay.io/coreos/etcd
  #   container_name: etcd
  #   restart: always
  #   environment:
  #     - ETCD_DATA_DIR=/data
  #     - ETCD_NAME=node1
  #     - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://localhost:2380
  #     - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
  #     - ETCD_ADVERTISE_CLIENT_URLS=http://localhost:2379
  #     - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
  #   networks:
  #     - gitea
  #   volumes:
  #     - ./etcd:/data

  # agola:
  #   image: sorintlab/agola
  #   container_name: agola
  #   restart: always
  #   networks:
  #     gitea:
  #       ipv4_address: 172.18.0.12
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ./agola/data:/data/agola
  #     - ./agola/config.yml:/config.yml
  #   ports:
  #     - "8000:8000"
  #   command: serve --components all-base,executor --config /config.yml
  #   depends_on:
  #     - minio
  #     - etcd
  #   labels:
  #     - traefik.http.routers.agola-router.rule=Host(`agola.this`)
  #     - traefik.http.routers.agola-router.service=agola-service
  #     - traefik.http.services.agola-service.loadbalancer.server.port=8000
  #   extra_hosts:
  #     - "gitea.this:172.18.0.10"
  #     - "agola.this:172.18.0.10"
